<h3>Here is some information about this client:</h3>

<h3>Client @Model["client"].GetName()</h3>
<h3>Stylist @Model["stylist"].GetName()</h3>

<p><a href="/clients/@Model["client"].GetId()/delete">Delete Client</a></p>
<p><a href="/clients/@Model["client"].GetId()/edit">Edit Client</a></p>
<p><a href='/stylists/@Model["stylist"].GetId()'>Show stilist</a></p>
<p><a href='/'>Return to Main Page</a></p>