<h1>Epic Hair Salon</h1>
<h3><a href='/stylists'>View stylists</a></h3>
<h3><a href='/specialties'>View specialties</a></h3>
<h3><a href='/clients'>View clients</a></h3>
<h3><a href='/stylists/new'>Add a new stylist</a></h3>
<h3><a href='/specialties/new'>Add a new specialty</a></h3>